
@theme "~/.config/rofi/themes/launchpad.rasi"
configuration {
    disable-history: false;
    modi: [window,run,ssh,drun];
    drun-display-format: "{icon} {name}";   // Add this line
    show-icons: true;                       // Add this line
    icon-theme: "Papirus-Light";                  // Move this here
}
