@theme "~/.config/rofi/themes/grid.rasi"

configuration {
    disable-history: false;
    modi: "window,run,ssh,drun";
    drun-display-format: "{icon} {name}";
    show-icons: true;
    icon-theme: "ePapirus-Dark";
    me-accept-entry: "!MousePrimary";
	hover-select: true;
	}

