[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/b/Desktop/user-home.desktop]
row=5
col=0

[/home/b/Desktop/network.desktop]
row=0
col=1

[/home/b/Desktop/trash-can.desktop]
row=6
col=0

[/home/b/Desktop/computer.desktop]
row=1
col=1

[30005F8C005F57C4]
row=1
col=0

[2AA869F2A869BD47]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/b]
row=4
col=0

